version: "3.8"

services:
  minio:
    image: minio/minio:latest
    ports:
      - "9002:9000" # MinIO API Port
      - "9003:9001" # MinIO Console Port
    environment:
      # CHANGE THESE SECRETS FOR PRODUCTION!
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadminpassword
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data # Persist data locally

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5673:5672" # RabbitMQ main port
      - "15673:15672" # RabbitMQ management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  postgres:
    image: postgres:15
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  minio_data:
  rabbitmq_data:
  postgres_data:
  redis_data:
  mongo_data:
